.carousel-item {
  min-height: 300px;
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none; /* optional */
}

/* Remove transitions when .carousel-item _and_ .no-transition*/
.carousel-item.no-transition {
  transition: none !important;
}


/* Constrained carousel */

/* div.carousel {
  margin-top: 2rem;
} */

/* .carousel.card {
  padding-top: 2em;
} */

.carousel.carousel-framed img {
  max-width: 75%;
  margin-bottom: 110px;
}

.carousel.carousel-framed .carousel-control-prev-icon,
.carousel.carousel-framed .carousel-control-next-icon {
  margin-bottom: 110px;
}

.carousel.carousel-framed .carousel-caption {
  padding-top: 1em;
}