name: Render and publish example

on:
  push:
    branches: main

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.8.25
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Render Webpage
        shell: bash
        run: quarto render example.qmd --output index.html

      - name: Publish to GitHub
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          render: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
